apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: k8s-demo-app
  name: k8s-demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-demo-app
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: k8s-demo-app
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - image: objex/k8s-demo-app:latest
          imagePullPolicy: "Always"
          name: demo-container
          resources: {}
status: {}
